<div>
<h1> Article Title</h1>
<%= @article.title %>

<h1> Article Content </h1>
<%= @article.content %>
</div>

<div>
<%= link_to "Go back to list", articles_path, class: "btn btn-default btn-fixed-width btn-last" %>
</div>
